body {
  background: url("sky.png") no-repeat skyblue;
  background-size: 100% 150%;
  font-family: Arial, Helvetica, sans-serif; }

.welcome {
  background: rgba(36, 44, 89, 0.8);
  font-size: 22px;
  line-height: 5px;
  color: #ccc;
  padding: 50px 10px;
  border-radius: 10px;
  margin: 8%;
  text-align: center;
  line-height: 50px; }
  .welcome a {
    color: #fff; }

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
  margin: 0 auto; }

#heart:before,
#heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #eb3323;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

@keyframes heartbeat {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

div.content {
  background: #ddd;
  color: #333;
  display: inline-block;
  float: none;
  padding: 20px;
  border-radius: 10px; }

pre {
  background: #ccc;
  color: #333;
  padding: 3px;
  font-size: 13px;
  border-radius: 5px;
  display: inline; }

.footer {
  background: #333;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  bottom: 0px;
  color: #ccc;
  font-size: 12px; }
  .footer a {
    text-decoration: none;
    cursor: pointer;
    color: #ccc; }
